<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!-- For development use; information on buildings and tables used to store form info are in different dev databases on Hail-->
    <add name="HailConnStr" connectionString="Data Source=swshail;Initial Catalog=AFODOM_Test;Persist Security Info=True;User ID=Afodom_web_user;Password=Pa$$w#bUser" providerName="System.Data.sqlclient" />
    <add name="BldgConnStr" connectionString="Data Source=SWSHail; User ID=pri_readaccess; Password=12qwasZX;  Initial Catalog=PRIAdmin" providerName="System.Data.sqlclient" />
    
    <!-- For production use; all building information and tables for storing form info are in the same production database: PRIAdmin -->
    <add name="DatastormConnStr" connectionString="Data Source=datastorm;Password=Dh&amp;&amp;&amp;Hhd4343;User ID=PRIAdmin_Forms_User;Initial Catalog=PRIAdmin" providerName="System.Data.sqlclient"/>
    <add name="DatastormFiscalConnStr" connectionString="Data Source=datastorm.prairie.illinois.edu;Password=Dh&amp;&amp;&amp;Hhd4343;User ID=PRIAdmin_Forms_User;Initial Catalog=Fiscal" providerName="System.Data.sqlclient"/>
    
    <!-- For both dev and production - Read Only; information used for the requestor drop-down autocomplete is in the PurchaseRequest database on Snoopy-->
    <add name="SnoopyConnStr" connectionString="Data Source=SWSSnoopy;Password=Pri081417;User ID=PurchaseRequest;Initial Catalog=fiscal" providerName="System.Data.sqlclient" />    
    
    
  </connectionStrings>
    <system.web>
      <customErrors mode="Off"/>      
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    <pages>
      <controls>
        <!-- This toolkit gives us the autocomplete ability for textboxes, which we use for the requestor name field -->
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
      
    </pages></system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>

</configuration>
